#header{
    border:1px solid #000;
    width:200px;
    height:25px;
    margin-left:200px;
    text-align:center;
}

#currentTime{
    border:1px solid #000;
    width:600px;
    height:200px;
    font-size:22px;
    text-align:center;
}